<section class="footer-section">
  <div class="footer-main">
    <img href="/" src="/img/Groupio logo.svg" alt="" class="logo" />
  </div>
  <hr />
  <p class="copyright">&copy; 2024 Groupio</p>
  <div class="accounts">
    <ul>
      <li>
        <img src="/img/x_logo.svg.svg" alt="" />
      </li>
      <li>
        <img src="/img/Instagram.svg" alt="" />
      </li>
      <li>
        <img src="/img/Facebook.svg" alt="" />
      </li>
    </ul>
  </div>
</section>
